.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.eventForm {
  display: flex;
}
.eventForm input {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(9, 255, 0);
}
.events {
  color: #61dafb;
}

